/* Sticky Footer styles */

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  font-family: 'Fondamento', cursive;

  position: static;
  width: 100%;
  background-color: #000;
  color: white;
  height: 200px;
  text-align: center;
}